<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Angular Js Calculator</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
	<script src= "calc.js"></script>
</head>
<body>
	<center>
		<h1>Calculator App  </h1>
	<div ng-app="CalculatorApp" ng-controller="CalculatorController">
		<h3><input type="number" ng-model="a"></h3>
		
		<h3><select ng-model="operator">
			<option>+</option>
			<option>-</option>
			<option>/</option>
			<option>*</option>
		</select></h3>
	
		<h3><input type="number" ng-model="b"></h3>
		
		<h2> Answer is {{ result() }}</h2>
	</div>
</center>
</body>
</html>
