.jumbotron{
	text-align: center;
	color: brown;
	
}
.navbar {
   
   background: transparent;
   border-color: red;
}

.navbar li { color: #000 }

.icon-bar {
   background-color: blue !important;
}
.intro{
	height: 30vh;
}
#btn{
	background-color: yellow;
}