<!DOCTYPE html>
<html ng-app="todoApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	  <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
	<title>Brandons ToDo List</title>
	<style type="text/css">
		body{
			background-color: white;
			color: black;
		}
	</style>
</head>
<!-- Check -->

<body>
	<div class="container text-center">
	<h1>Todo App</h1>
	<div ng-controller="TodoListController as todoList">
	 <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining add some chores</span>
	[ <a href="" ng-click="todoList.archive()">Delete task</a>]
		<ul>
			<li ng-repeat="todo in todoList.todos">
				<label class="checkbox">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}
					</span>
				</label>
			</li>
		</ul>
		<form ng-submit="todoList.addTodo()">
			<div class="form-group col-lg-12">
			 <input type="text" class="form-control" id="usr" ng-model="todoList.todoText">
			<!--<input type="text" ng-model="todoList.todoText" size="40" placeholder="Enter Chore here">-->
			<button class="btn btn-success" value="Add" type="submit">Add Task</button>
		</div>
		</form>
	</div>
	</div>
</body>
</html>
